<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vision Savings</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*@Styles.Render("~/Content/css")*@
    <!-- Include All CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/UserUI/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/UserUI/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/UserUI/css/payloan-icon.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/UserUI/css/icofont.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/UserUI/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/UserUI/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/UserUI/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/UserUI/css/owl.theme.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/UserUI/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/UserUI/css/preset.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/UserUI/css/theme.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/UserUI/css/responsive.css" />
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
    @Html.Partial("_PageLoader")
    @Html.Partial("_NavBarPartial")
    @RenderBody()
    @Html.Partial("_FooterPartial")



    <!-- Include All JS -->
    <script src="~/Content/UserUI/js/jquery.js"></script>
    <script src="~/Content/UserUI/js/bootstrap.min.js"></script>
    <script src="~/Content/UserUI/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/UserUI/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/UserUI/js/jquery-ui.js"></script>
    <script src="~/Content/UserUI/js/shuffle.js"></script>
    <script src="~/Content/UserUI/js/slick.js"></script>
    <script src="~/Content/UserUI/js/gmaps.js"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyCysDHE3s4Qw3nTh9o58-2mJcqvR6HV8Kk"></script>
    <script src="~/Content/UserUI/js/owl.carousel.js"></script>
    <script src="~/Content/UserUI/js/theme.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
