@using VSaver.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<style>
    .account-pages {
        background-image: url(../../Content/UserUI/images/bgg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-color: #082d19;
        background-blend-mode: soft-light;
    }
    .authentication-bg{
        margin-top: 90px;
    }
    .card-body {
        background-color: #082d19;
        color: white;
    }
    #loginBtn {
        background-color: #ffc107;
        color: #07294d;
        font-weight: bolder;
    }
    #loginBtn:hover{
        color: white;
    }
    #signup {
        color: #ffc107;
    }
</style>

<link rel="shortcut icon" href="~/Content/Template/assets/images/favicon.ico">

<!-- Bootstrap Css -->
<link href="~/Content/Template/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="~/Content/Template/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="~/Content/Template/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />


<body class="authentication-bg">

                    <div class="account-pages my-5 pt-sm-5">
                        <div class="container">
                            @*<div class="row">
                                <div class="col-lg-12">
                                    <div class="text-center">
                                        <a href="index-2.html" class="mb-5 d-block auth-logo">
                                            <img src="~/Content/Template/assets/images/logo-dark.png" alt="" height="22" class="logo logo-dark">
                                            <img src="~/Content/Template/assets/images/logo-light.png" alt="" height="22" class="logo logo-light">
                                        </a>
                                    </div>
                                </div>
                            </div>*@
                            <div class="row align-items-center justify-content-center">
                                <div class="col-md-8 col-lg-6 col-xl-5">
                                    <div class="card">

                                        <div class="card-body p-4">
                                            <div class="text-center mt-2">
                                                <h5 class="" style="color: white;">Welcome Back !</h5>
                                                <p class="text-muted">Sign in to continue to VSaver.</p>
                                            </div>
                                            <div class="p-2 mt-4">
                                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                                                {
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                                    @Html.AntiForgeryToken()

                                                    <div class="mb-3">
                                                        @Html.LabelFor(m => m.Email, new { @class = "form-label" })

                                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter username" })
                                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                                    </div>


                                                    <div class="mb-3">
                                                        <div class="float-end">
                                                            <a href="" class="text-muted">Forgot password?</a>
                                                        </div>
                                                        @Html.LabelFor(m => m.Password, new { @class = "form-label" })

                                                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", id = "userpassword", placeholder = "Enter password" })
                                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-check">
                                                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input", id = "auth-remember-check" })
                                                        @Html.LabelFor(m => m.RememberMe, new { @class = "form-check-label" })
                                                    </div>

                                                    <div class="mt-3 text-end">
                                                        <input id="loginBtn" type="submit" value="Log in" class="btn w-sm waves-effect waves-light" />
                                                    </div>
                                                    <div class="mt-4 text-center">
                                                        <div class="signin-other-title">
                                                            <h5 class="font-size-14 mb-3 title">Sign in with</h5>
                                                        </div>


                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <a href="javascript:void()" class="social-list-item bg-primary text-white border-primary">
                                                                    <i class="mdi mdi-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a href="javascript:void()" class="social-list-item bg-info text-white border-info">
                                                                    <i class="mdi mdi-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a href="javascript:void()" class="social-list-item bg-danger text-white border-danger">
                                                                    <i class="mdi mdi-google"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="mt-4 text-center">
                                                        <p class="mb-0">Don't have an account ? <a href="@Url.Action("AgentRegister", "Account")" class="fw-medium" id="signup"> Sign up </a> </p>
                                                    </div>
                                                }
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end container -->
                    </div>

                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }

                    <!-- JAVASCRIPT -->
                    <script src="~/Content/Template/assets/libs/jquery/jquery.min.js"></script>
                    <script src="~/Content/Template/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
                    <script src="~/Content/Template/assets/libs/metismenu/metisMenu.min.js"></script>
                    <script src="~/Content/Template/assets/libs/simplebar/simplebar.min.js"></script>
                    <script src="~/Content/Template/assets/libs/node-waves/waves.min.js"></script>
                    <script src="~/Content/Template/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
                    <script src="~/Content/Template/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

                    <script src="~/Content/Template/assets/js/app.js"></script>

                </body>
